.block{
    height: 90px;
    margin:5px;
    background-color: #555353;
    max-width:90px;
    border-radius:8px;
}
.block:hover{
    background-color: #dddada;
    cursor:pointer;
}
.dot {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    /* display: inline-block; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

  }
.rowCustom{
    width:600px;
}
.scoreBoard{
    position: absolute;
    left:800px;
    top:100px;
}
